<nz-layout>
  <nz-content>
    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="24">
        <nz-space>
          <button *nzSpaceItem nz-button nzType="primary" (click)="onAdd()">
            Thêm mới xã
          </button>
          <button *nzSpaceItem nz-button nzType="default" (click)="onExport()">
            Nhập xã
          </button>
        </nz-space>
      </div>
    </div>

    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="24">
        <form nz-form [formGroup]="form" nzLayout="inline">
          <nz-form-item>
            <nz-form-control>
              <nz-select formControlName="selectedValueProvince" nzPlaceHolder="Chọn tỉnh" nzAllowClear nzShowSearch>
                <nz-option *ngFor="let province of provinces.data" [nzValue]="province.code" [nzLabel]="province.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-select formControlName="selectedValueDistrict" nzPlaceHolder="Chọn huyện" nzAllowClear nzShowSearch>
                <nz-option *ngFor="let district of districts.data" [nzValue]="district.code" [nzLabel]="district.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>

    <div nz-row [nzGutter]="[16, 16]">
      <div nz-col [nzSpan]="24">
        <nz-table 
          #basicTable 
          [nzData]="wards.data"
          [nzTotal]="pageSize * wards.totalPage"
          [nzPageIndex]="currentPage"
          [nzPageSize]="pageSize"
          (nzPageIndexChange)="onPageChange($event)"
          [nzFrontPagination]="false"
          [nzTitle]="'Danh sách xã'">
          <thead>
            <tr>
              <th>Mã</th>
              <th>Tên</th>
              <th>Cấp</th>
              <th>Mã huyện</th>
              <th>Mã tỉnh</th>
              <th>Thời gian tạo</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data; trackBy: trackById">
              <td>{{ data.code }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.administrativeLevel }}</td>
              <td>{{ data.districtCode }}</td>
              <td>{{ data.provinceCode }}</td>
              <td>{{ data.creationTime | date: 'HH:mm:ss dd-MM-yyyy' }}</td>
              <td>
                <nz-space>
                  <button *nzSpaceItem nz-button nzType="default" (click)="onDelete(data.id)">
                    Xoá
                  </button>
                  <button *nzSpaceItem nz-button nzType="default" (click)="onEdit(data.id)">
                    Sửa
                  </button>
                </nz-space>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-content>
</nz-layout>

<app-add-ward 
  [isVisibleAddWard]="isVisibleAddWard" 
  (visibilityChange)="handleVisibilityAddChange($event)">
</app-add-ward>

<app-import-ward-excel 
  [isVisibleImportWard]="isVisibleImportWard"
  (visibilityChange)="handleVisibilityImportChange($event)">
</app-import-ward-excel>

<app-update-ward 
  *ngIf="selectedId"
  [isVisibleUpdateWard]="isVisibleUpdateWard" 
  (visibilityChange)="handleVisibilityUpdateChange($event)" 
  [id]="selectedId">
</app-update-ward>

